# Dependencies
node_modules/

# Environment variables
.env

# SQLite Database files
*.db*
*.sqlite*
*.sqlite3*
database/*.db*
database/*.sqlite*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Operating System Files
.DS_Store
Thumbs.db
